.dropDownItem{
    padding: 10px !important;
    display: block !important;
}
.dropDownItem > span {
    width: 100% !important;
    height: 100% !important;
    display: block !important;
}
.dropDownItem  a {
    width: 100% !important;
    height: 100% !important;
    display: block !important;
}


a.active{
    color: rgb(33, 122, 255);
}
