.card__name{
    writing-mode: vertical-rl;
}
/*Move left*/
.card:hover{
    box-shadow: 0 .5rem 1rem #D1D9E6;
}
.card:hover .card__name{
    left: 0;
}
.card:hover .card__img{
    margin-left: 3.5rem;
}
.card:hover .card__icon{
    margin-left: 3.5rem;
}
.card:hover .card__icon_2{
    margin-right: -2px;
}
.card:hover .card__precis{
    margin-left: 3.5rem;
    padding: 0 1.5rem;
}

